In [126]:
import numpy as np
import pandas as pd
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import make_scorer

raw_data = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [127]:
raw_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [128]:
raw_data.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [129]:
raw_data = raw_data.dropna(axis=0).reset_index(drop=True)
raw_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4904,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
4905,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
4906,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
4907,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
4908,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [130]:
raw_data.describe(include='all')

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
count,4909.000000,4909,4909.000000,4909.000000,4909.000000,4909,4909,4909,4909.000000,4909.000000,4909,4909.000000
unique,NaN,3,NaN,NaN,NaN,2,5,2,NaN,NaN,4,NaN
top,NaN,Female,NaN,NaN,NaN,Yes,Private,Urban,NaN,NaN,never smoked,NaN
freq,NaN,2897,NaN,NaN,NaN,3204,2811,2490,NaN,NaN,1852,NaN
mean,37064.313506,NaN,42.865374,0.091872,0.049501,NaN,NaN,NaN,105.305150,28.893237,NaN,0.042575
std,20995.098457,NaN,22.555115,0.288875,0.216934,NaN,NaN,NaN,44.424341,7.854067,NaN,0.201917
min,77.000000,NaN,0.080000,0.000000,0.000000,NaN,NaN,NaN,55.120000,10.300000,NaN,0.000000
25%,18605.000000,NaN,25.000000,0.000000,0.000000,NaN,NaN,NaN,77.070000,23.500000,NaN,0.000000
50%,37608.000000,NaN,44.000000,0.000000,0.000000,NaN,NaN,NaN,91.680000,28.100000,NaN,0.000000
75%,55220.000000,NaN,60.000000,0.000000,0.000000,NaN,NaN,NaN,113.570000,33.100000,NaN,0.000000
max,72940.000000,NaN,82.000000,1.000000,1.000000,NaN,NaN,NaN,271.740000,97.600000,NaN,1.000000

In [131]:
raw_data['gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [132]:
raw_data = raw_data.drop(raw_data[raw_data['gender'] == 'Other'].index, axis=0).reset_index(drop=True)
raw_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4903,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
4904,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
4905,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
4906,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
4907,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [133]:
raw_data.drop(['id'],inplace=True,axis=1)

In [134]:
raw_data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4903,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
4904,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
4905,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
4906,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
4907,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [135]:
print(raw_data['gender'].unique())
print(raw_data['ever_married'].unique())
print(raw_data['Residence_type'].unique())
print(raw_data['work_type'].unique())
print(raw_data['smoking_status'].unique())

['Male' 'Female']
['Yes' 'No']
['Urban' 'Rural']
['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']
['formerly smoked' 'never smoked' 'smokes' 'Unknown']

In [136]:
raw_data['gender'] = raw_data['gender'].replace({'Male':0,'Female':1})
raw_data['ever_married'] = raw_data['ever_married'].replace({'No':0,'Yes':1})
raw_data['Residence_type'] = raw_data['Residence_type'].replace({'Rural':0,'Urban':1})
raw_data['work_type'] = raw_data['work_type'].replace({'Private':0,'Self-employed':1,'Govt_job':2,'children':3,'Never_worked':4})
raw_data['smoking_status'] = raw_data['smoking_status'].replace({'never smoked':0,'Unknown':1,'formerly smoked': 2,'smokes':3})

In [137]:
raw_data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,1,0,1,228.69,36.6,2,1
1,0,80.0,0,1,1,0,0,105.92,32.5,0,1
2,1,49.0,0,0,1,0,1,171.23,34.4,3,1
3,1,79.0,1,0,1,1,0,174.12,24.0,0,1
4,0,81.0,0,0,1,0,1,186.21,29.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
4903,1,13.0,0,0,0,3,0,103.08,18.6,1,0
4904,1,81.0,0,0,1,1,1,125.20,40.0,0,0
4905,1,35.0,0,0,1,1,0,82.99,30.6,0,0
4906,0,51.0,0,0,1,0,0,166.29,25.6,2,0
4907,1,44.0,0,0,1,2,1,85.28,26.2,1,0

In [138]:
corr=raw_data.corr()
corr

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
gender,1.000000,0.030280,-0.021811,-0.082950,0.036380,-0.070889,0.004351,-0.053161,0.026164,-0.064168,-0.006904
age,0.030280,1.000000,0.274395,0.257104,0.680742,-0.415506,0.010795,0.236000,0.333314,0.080461,0.232313
hypertension,-0.021811,0.274395,1.000000,0.115978,0.162350,-0.073458,-0.001140,0.180614,0.167770,0.010515,0.142503
heart_disease,-0.082950,0.257104,0.115978,1.000000,0.111203,-0.054965,-0.002409,0.154577,0.041322,0.067151,0.137929
ever_married,0.036380,0.680742,0.162350,0.111203,1.000000,-0.378109,0.004707,0.151657,0.341553,0.085798,0.105051
work_type,-0.070889,-0.415506,-0.073458,-0.054965,-0.378109,1.000000,0.012931,-0.063029,-0.347412,-0.050086,-0.057569
Residence_type,0.004351,0.010795,-0.001140,-0.002409,0.004707,0.012931,1.000000,-0.007441,-0.000293,0.032694,0.005988
avg_glucose_level,-0.053161,0.236000,0.180614,0.154577,0.151657,-0.063029,-0.007441,1.000000,0.175672,0.018793,0.138984
bmi,0.026164,0.333314,0.167770,0.041322,0.341553,-0.347412,-0.000293,0.175672,1.000000,0.047944,0.042341
smoking_status,-0.064168,0.080461,0.010515,0.067151,0.085798,-0.050086,0.032694,0.018793,0.047944,1.000000,0.029772
stroke,-0.006904,0.232313,0.142503,0.137929,0.105051,-0.057569,0.005988,0.138984,0.042341,0.029772,1.000000

In [139]:
raw_data.drop(['gender','Residence_type','bmi'],inplace=True,axis=1)
raw_data

,age,hypertension,heart_disease,ever_married,work_type,avg_glucose_level,smoking_status,stroke
0,67.0,0,1,1,0,228.69,2,1
1,80.0,0,1,1,0,105.92,0,1
2,49.0,0,0,1,0,171.23,3,1
3,79.0,1,0,1,1,174.12,0,1
4,81.0,0,0,1,0,186.21,2,1
...,...,...,...,...,...,...,...,...
4903,13.0,0,0,0,3,103.08,1,0
4904,81.0,0,0,1,1,125.20,0,0
4905,35.0,0,0,1,1,82.99,0,0
4906,51.0,0,0,1,0,166.29,2,0
4907,44.0,0,0,1,2,85.28,1,0

In [140]:
from pycaret.classification import *
clf1 = setup(data = raw_data, target = 'stroke')

In [143]:
compare_models(sort = 'F1')

GaussianNB(priors=None, var_smoothing=1e-09)

In [144]:
from sklearn.model_selection import train_test_split

data,labels = raw_data.iloc[:,:7],raw_data['stroke']

X_train, X_test, y_train, y_test = train_test_split(data, labels, 
                                                    test_size=0.3, 
                                                    random_state=0, 
                                                    shuffle=True, 
                                                    stratify=labels)

In [155]:
from imblearn.over_sampling import SMOTE
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [156]:
classifier = LinearDiscriminantAnalysis()
model = classifier.fit(X_train, y_train)

In [157]:
y_pred = model.predict(X_test)

In [158]:
df_result = pd.DataFrame(columns=['model', 'tp', 'tn', 'fp', 'fn', 'correct', 'incorrect',
                                  'accuracy', 'precision', 'recall', 'f1', 'roc_auc','avg_pre'])

tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
roc_auc = roc_auc_score(y_test, y_pred)
avg_precision = average_precision_score(y_test, y_pred)
row = {'model': 'LinearDiscriminantAnalysis without SMOTE',
        'tp': tp,
        'tn': tn,
        'fp': fp,
        'fn': fn,
        'correct': tp+tn,
        'incorrect': fp+fn,
        'accuracy': round(accuracy,3),
        'precision': round(precision,3),
        'recall': round(recall,3),
        'f1': round(f1,3),
        'roc_auc': round(roc_auc,3),
        'avg_pre': round(avg_precision,3),
    }

df_result = df_result.append(row, ignore_index=True)
df_result.head()

,model,tp,tn,fp,fn,correct,incorrect,accuracy,precision,recall,f1,roc_auc,avg_pre
0,LinearDiscriminantAnalysis without SMOTE,6,1387,23,57,1393,80,0.946,0.207,0.095,0.13,0.539,0.058

In [159]:
X_train, X_test, y_train, y_test = train_test_split(data, labels, 
                                                    test_size=0.3, 
                                                    random_state=0, 
                                                    shuffle=True, 
                                                    stratify=labels)

In [160]:
oversampled = SMOTE(random_state=0)
X_train_smote, y_train_smote = oversampled.fit_sample(X_train, y_train)

In [161]:
y_train_smote.value_counts()

1    3289
0    3289
Name: stroke, dtype: int64

In [162]:
classifier_smote = LinearDiscriminantAnalysis()
model = classifier_smote.fit(X_train_smote, y_train_smote)
y_pred_smote = model.predict(X_test)

In [163]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred_smote).ravel()
accuracy = accuracy_score(y_test, y_pred_smote)
precision = precision_score(y_test, y_pred_smote)
recall = recall_score(y_test, y_pred_smote)
f1 = f1_score(y_test, y_pred_smote)
roc_auc = roc_auc_score(y_test, y_pred_smote)
avg_precision = average_precision_score(y_test, y_pred_smote)

In [164]:
row = {'model': 'LinearDiscriminantAnalysis with SMOTE',
        'tp': tp,
        'tn': tn,
        'fp': fp,
        'fn': fn,
        'correct': tp+tn,
        'incorrect': fp+fn,
        'accuracy': accuracy,
        'precision': precision,
        'recall': recall,
        'f1': f1,
        'roc_auc': roc_auc,
        'avg_pre': round(avg_precision,3),       
    }
df_result = df_result.append(row, ignore_index=True)
df_result.head()

,model,tp,tn,fp,fn,correct,incorrect,accuracy,precision,recall,f1,roc_auc,avg_pre
0,LinearDiscriminantAnalysis without SMOTE,6,1387,23,57,1393,80,0.946000,0.207,0.095000,0.130000,0.539000,0.058
1,LinearDiscriminantAnalysis with SMOTE,40,1050,360,23,1090,383,0.739986,0.100,0.634921,0.172786,0.689801,0.079